body {
    text-align: center;
    font-family: Helvetica, sans-serif;
}

h1 {
    font-size: 42px;
}

/* Botões */

#buttons-container button {
    border: none;
    padding: 10px 15px;
    margin: 0 10px;
}

/* Jogo */

#container {
    display: flex;
    width: 300px;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}

.box {
    height: 100px;
    border: 5px solid #000;
    box-sizing: border-box;
    flex: 1 1 33%;
}

#block-1, #block-2, #block-3 {
    border-top: none;
}

#block-1, #block-4, #block-7 {
    border-left: none;
}

#block-7, #block-8, #block-9 {
    border-bottom: none;
}

#block-3, #block-6, #block-9 {
    border-right: none;
}

/* Símbolos */

.x {
    display: inline-block;
    font-size: 65px;
    color: red;
    line-height: 100px;
}

.o {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 5px solid green;
    border-radius: 50%;
    margin-top: 17px;
}

/* Classe de esconder */

.hide {
    display: none !important;
}

/* Placar */

#scoreboard-container {
    font-weight: bold;
    font-size: 25px;
    position: relative;
    margin: 30px auto;
}

.score-box {
    margin: 0 20px;
}

#x-scoreboard {
    color: red;
    margin-right: 3px;
}

#o-scoreboard {
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 2px solid green;
    border-radius: 50%;
    margin-right: 3px;
}

/* Mensagem de Vitória */

#message p {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 150px;
    width: 500px;
    font-size: 50px;
    background-color: #000;
    color: #FFF;
    padding: 20px;
}